

body{
  background-color: black;
  margin: 0% 5%;
}

.topBanner {
    width: 100%;
    display: flow-root;
  background-color: black;
}

.firstButton{
  margin-left: 1%;
}

.logoBanner{
    float: left;
    width: 10%;
}

#logo{
  width: 100%;
}

.topBanner a {
    text-decoration: none;
    color: black;
}

.bannerButton {
    float: left;
    width: 10%;
    text-align: center;
    padding: 0.5% 0%;
    border-radius: 50%;
    margin-top: 0.5%;
}

.bannerButton:hover {
    background-color: rgb(255,218,0, 0.7);
    transition: 0.5s;
}

.bannerButton:hover p {
    color: white;
    font-weight: 800;
}

.search {
    float: right;
    width: 10%;
    margin: 1.8% 1%;
}

#search {
    padding: 3% 0%;
    border-radius: 16px;
    background-color: #FFDA00;
}

.cart {
    float: right;
    width: 3%;
    margin: 1.9% 0%;
}

.cart img {
    width: 100%;
    border-radius: 16px;
}




.contentROW {
    width: 90%;
    background-image: url("../IMGs/backgroundUS.png");
    display: flow-root;
    padding: 0% 5%;
    background-size: 47%;
}


.person {
    width: 20%;
    float: left;
    margin: 3% 6.6% 6.6% 6.6%;
    background-color: rgba(255, 218, 0, 0.7);
    border-radius: 20px;
    text-align: center;
}

.person img {
    width: 100%;
    border-radius: 20px;
}

#name{
  font-size: 23px;
  font-weight: 600;
}

#job{
  font-size: 20px;
  font-weight: 400;
}

#teamText {
    width: 100%;
    color: #FFDA00;
    text-align: center;
    font-size: 45px;
}





.bottomBanner{
  width: 100%;
  display: flow-root;
  background-color: black;
}

.columnText {
    width: 11.8%;
    float: left;
    padding-left: 1%;
    border-left: 2px solid #707070;
}

.logoCopyright {
    width: 25%;
    float: left;
}

#bannerLogoIMG {
    width: 50%;
    margin: 10% 25%;
}

#copyrightID {
    margin-top: 18%;
    color: #615E5E;
}

.followUS {
    width: 12%;
    float: left;
}

.followUS h3, #list{
    color: #FFDA00;
}

.appColumn {
    width: 23%;
    float: left;
}

#appD{
  margin-left: 19%;
  color: #FFDA00;
}

.appColumn img {
    width: 64%;
    border-radius: 9px;
    border: 2px solid #FFDA00;
    margin-left: 19%;
}

#bottomAppID {
    color: #615E5E;
}

p, h3, li {
    color: white;
    font-family: Segoe UI;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {

  .contentROW {
      width: 98%;
      padding: 0% 1%;
      background-size: 100%;
  }

  .logoBanner {
      width: 30%;
      margin-top: 3.4%;
  }

  .bannerButton {
      width: 23%;
  }

  p, h3, li {
      font-size: 13px;
  }


  #search {
      font-size: 11px;
  }

  .search {
      width: 32%;
      margin: 1% 5%;
  }

  .cart {
      width: 11%;
      margin: 1% 0% 0% 0%;
  }

  .columnText {
      width: 31.8%;
  }
  .columnText ul{
      padding-left: 12%;
  }

  #bannerLogoIMG {
      width: 100%;
      margin: 14% 0%;
  }

  .logoCopyright {
      width: 34%;
  }

  .followUS {
      width: 28%;
      margin-left: 2%;
  }

  .appColumn {
      width: 36%;
  }

  #copyrightID {
      margin-top: 32%;
      width: 170%;
      text-align: center;
  }

  body {
      margin: 0% 2%;
  }

  #teamText {
      font-size: 30px;
  }

  .right{

  }

  .person {
      width: 30.6%;
      margin: 0px 0px 5% 2%;
      border-radius: 20px;
  }

  #name {
      font-size: 15px;
  }

  #job {
      font-size: 13px;
  }

  }
